!**/etc/
!**/etc/**
!**/zuul-info/
!**/zuul-info/**
!**/job-output.txt
!**/local_conf.txt
!**/performance.json
!**/tempest_conf.txt
!**/tempest_result.txt
!**/tempest.results.html
!**/testrepository.subunit
!**/workspace-repos.json
!**/zuul-manifest.json
!**/screen-c-api.txt
!**/screen-c-bak.txt
!**/screen-c-sch.txt
!**/screen-c-val.txt
!**/screen-m-api.txt
!**/screen-m-dat.txt
!**/screen-m-sch.txt
!**/screen-m-shr.txt
