**/_.localrc_auto.txt
**/__stackenv.txt
**/deprecations_log.txt
**/devstack.journal.gz
**/df.txt
**/dpkg-l.txt
**/iptables.txt
**/job-output.json
**/listen53.txt
**/resolv_conf.txt
**/screen-etcd.txt
**/screen-file_tracker.txt
**/screen-g-api.txt
**/screen-keystone.txt
**/screen-memory_tracker.txt
**/screen-n-*
**/screen-neutron-*
**/screen-openstack-cli-server.txt
**/screen-placement-api.txt
**/screen-placement-api.txt
**/screen-s-*
**/services.txt
**/sudoers
**/syslog.txt
**/unbound_log.txt
**/apache/
**/apache_config/
**/controller/
**/libvirt/
**/lvm/
**/mysql/
**/openvswitch/
**/rabbitmq/
**/stackviz/
**/sudoers.d/
