**/_.localrc_auto.txt
**/__stackenv.txt
**/devstack.journal.gz
**/df.txt
**/dpkg-l.txt
**/iptables.txt
**/job-output.json
**/job-output.txt
**/listen53.txt
**/resolv_conf.txt
**/screen-etcd.txt
**/screen-file_tracker.txt
**/screen-g-api.txt
**/screen-keystone.txt
**/screen-memory_tracker.txt
**/screen-n-*
**/screen-neutron-*
**/screen-openstack-cli-server.txt
**/screen-placement-api.txt
**/screen-placement-api.txt
**/screen-s-*
**/services.txt
**/sudoers
**/syslog.txt
**/unbound_log.txt
**/workspace-repos.json
**/zuul-manifest.json
